@import "./references.scss";

* {
  font-family: var(--fontMain);
}

body,
html {
  font-weight: var(--fontWeightNormal);
  font-size: var(--fontSizeNormal);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  background-color: var(--colorBgPrimary);
  color: var(--colorMainContent);
  transition: background-color 0.2s, color 0.2s;
}

body {
  overflow-y: auto;
  margin: 0;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

input[type="submit"],
.button {
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  color: var(--colorMainContent);
  background: var(--colorBgPrimary);
  box-shadow: 0 0 0 3px var(--colorHighlightColor1) inset;
  font-size: var(--fontSizeNormal);
  transition: box-shadow 75ms linear;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 0 0 0 3px var(--colorHighlightColor2) inset;
  }
  &:disabled {
    box-shadow: 0 0 0 3px var(--colorHighlightContent) inset;
    cursor: default;
  }
}

.no-select {
  user-select: none;
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90vh;
  overflow: auto;
  max-width: 75vw;
  z-index: 10;
  padding: 20px;
  @include content-color;
  @media only screen and (max-width: 700px) {
    width: 90vw;
    max-width: 90vw;
  }
  :not(:first-child).dialog-row {
    margin-top: 30px;
  }
  .dialog-row {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    grid-auto-columns: 1fr;
    grid-column-gap: 10px;
    .dialog-element > * {
      width: 100%;
    }
    @media only screen and (max-width: 400px) {
      grid-row-gap: 10px;
      grid-auto-flow: row;
    }
  }
}

.awd-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  .awd-floating-container {
    @include content-color;
    width: 90%;
  }
}

.dialog-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9;
}
