<!--
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *   Please Only edit this file in the marked areas. Changes outside there areas might be overwriten by gah.   *
  *    If you really need to edit a section that is not marked for editing, please open an issue on github:     *
  *                               https://github.com/awdware/gah/issues/new                                 *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
-->

<router-outlet></router-outlet>
